<%- include('templates/head'); %>

<%- include('templates/nav'); %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-1"><%= product.name %> </h1>
            <p class="lead">Cena: <%= product.price %></p>
            <dl class="row">
                <dt class="col-sm-3">Wielkość</dt>
                <dd class="col-sm-9"><%= product.size %> </dd>

                <dt class="col-sm-3">Kolor</dt>
                <dd class="col-sm-9"><%= product.colour %> </dd>

                <dt class="col-sm-3">Kategoria</dt>
                <dd class="col-sm-9"><%= product.category %> </dd>

                <% if(product.amount > 0){ %>
                <dt class="col-sm-3">Liczba sztuk</dt>
                <dd class="col-sm-9"><%= product.amount %> </dd>
                <% } %>

                <dt class="col-sm-3 text-truncate">Opis produktu</dt>
                <dd class="col-sm-9"><%= product.description %> </dd>
            </dl>

            <div class="row mb-5">
                <div class="col">
                <% if(product.status){ %>
                    <% if(product.amount> 0){ %>
                            <button id="add_to_basket" name="<%= product.id %>" type="button" class="btn btn-primary">
                                Dodaj do koszyka
                            </button>
                        <% }else{ %>
                            <button type="button" class="btn btn-secondary disabled">
                                Produkt chwilowo niedostępny
                            </button>
                        <% } %>
                    <% }else{ %>
                        <button type="button" class="btn btn-danger disabled">
                            Produkt wycofany
                        </button>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card" style="width: 300px; height: 300px;">
                <img src="/assets/uploads/<%= product.id %>.jpg"
                    class="img rounded" alt="no-product-image">
            </div>
        </div>
    </div>
</div>

<script>
    var btn = document.getElementById('add_to_basket');
    if(btn){
        btn.addEventListener('click', event => {
            var req = new XMLHttpRequest();
            req.open('post', '/api/add2basket', true);
            var form = new FormData();
            form.append('txtParam', btn.getAttribute('name'));
            req.send(form);
        });
    }
</script>

<%- include('templates/end'); %>